.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button,
.pagination div {
  padding: 0.3rem;
  font-size: var(--default-font);
  border: 1px solid var(--light-dark-color);
  background-color: var(--light-color);
}

/* First child */
.pagination button:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-right: none;
}

/* Last child */
.pagination button:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-left: none;
}

.pagination button:hover {
  cursor: pointer;
  text-decoration: underline;
}