#footer {
  padding: 2rem 1rem;
  background-color: var(--theme-color);
  text-align: center;
}

#footer a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

#footer a:hover {
  text-decoration: underline;
}