#tradesDisplay-pagination-wrapper {
  margin-bottom: 1rem;
}

#tradesDisplay-list {
  list-style: none;
}

.tradesDisplay-trade {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  text-align: center;
}

.tradesDisplay-trade:not(:last-child)  {
  margin-bottom: 1rem;
}

.tradesDisplay-trade a {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background-color: var(--light-dark-color);
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
}

.tradesDisplay-trade a:hover {
  text-decoration: underline;
}

.tradesDisplay-trade-info {
  display: flex;
  flex-direction: column;
}

.tradesDisplay-trade-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tradesDisplay-trade-group  {
  margin-bottom: 1rem;
}

.tradesDisplay-trade-username {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.tradesDisplay-trade-books {
  margin-bottom: 0.5em;
  background-color: var(--light-dark-color);
  border-radius: 0.5rem;
  list-style: none;
}

.tradesDisplay-trade-books li {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.tradesDisplay-arrow-left {
  display: none;
}

.tradesDisplay-arrow-down {
  display: inline;
}

.tradesDisplay-trade-choice {
  margin: 0;
}

.tradesDisplay-trade-choice button {
  margin: 0 0.3rem;
  padding: 0.3rem 0.5rem;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
}

.tradesDisplay-trade-choice button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tradesDisplay-trade-accept {
  background-color: var(--success-color);
}

.tradesDisplay-trade-decline {
  background-color: var(--error-color);
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .tradesDisplay-trade-info {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .tradesDisplay-trade-group {
    margin: 0;
  }

  .tradesDisplay-arrow-left {
    display: inline;
  }

  .tradesDisplay-arrow-down {
    display: none;
  }

  .tradesDisplay-trade-choice {
    margin-top: 1rem;
  }
}
/* ----- /Breakpoints ----- */