#navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  background-color: var(--theme-color);
  color: white;
}

#navbar-logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

#navbar-collapse-toggle button {
  height: 100%;
  padding-right: 1rem;
  background: none;
  color: white;
  border: none;
}

/* ------ Expanded links ----- */
#navbar-links {
  display: none;
  list-style: none;
}

#navbar-links a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  color: white;
  text-decoration: none;
}

#navbar-links button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  border: none;
  background: none;
  color: white;
  font-size: var(--default-font);
  text-decoration: none;
}

#navbar-links a:hover {
  text-decoration: underline;
}

#navbar-links button:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ------ /Expanded links ----- */

/* ------ Collapsed links ----- */
#navbar-collapsed-links {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: var(--navbar-height);
  background-color: var(--light-dark-color);
}

#navbar-collapsed-links li {
  text-align: center;
}

#navbar-collapsed-links li a {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

#navbar-collapsed-links li button {
  width: 100%;
  padding: 1rem;
  background: none;
  color: white;
  font-size: var(--default-font);
  border: none;
  text-decoration: none;
}
/* ------ /Collapsed links ----- */

.navbar-active {
  background-color: var(--lighter-color);
}

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #navbar-collapse-toggle {
    display: none;
  }

  #navbar-links {
    display: flex;
  }

  #navbar-collapsed-links {
    display: none;
  }
}